/* packages/frontend/src/components/clinical/PresetButtons.module.css */

.presetButton {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.1);
    color: #aab0c4;
    font-weight: 500;
    width: 140px; /* Butonlara standart bir genişlik verelim */
    transition: all 0.2s ease;
}

.presetButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #00e5ff;
    color: #fff;
}

.presetButton.active {
    background-color: rgba(0, 229, 255, 0.15);
    border-color: #00e5ff;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 229, 255, 0.3);
}