/* packages/frontend/src/components/clinical/PresetButtons.module.css */

.presetButton {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.1);
    color: #aab0c4;
    font-weight: 500;
    width: 160px; /* Genişlik artırıldı */
    height: 50px; /* Yükseklik artırıldı */
    padding: 0 16px;
    transition: all 0.2s ease;
}

/* Mantine'in buton içindeki flex yapısını yönetmek için */
.presetButton > .mantine-Button-inner {
    justify-content: flex-start;
}

.presetButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #00e5ff;
    color: #fff;
}

.presetButton.active {
    background-color: rgba(0, 229, 255, 0.15);
    border-color: #00e5ff;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 229, 255, 0.3);
}

.buttonLabel {
    font-size: 16px; /* Yazı boyutu ayarlandı */
}